
:root {
  /* Paleta de Colores "Guardería" */
  --background-color: #fdf6e3; /* Crema suave */
  --cube-color: #ffffff;
  --basket-color: #d2b48c; /* Madera clara */
  --text-color: #5d4037; /* Marrón oscuro */
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* Tipografía */
  font-family: 'Patrick Hand', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: subtle-noise-texture.png;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Patrick Hand', cursive;
  color: var(--text-color);
  text-shadow: 1px 1px 2px var(--shadow-color);
}
